*{
    margin:0;
    pading:0;
    font-size: 14px;
}

section{
    margin-top: 1%;
    padding: 1%;    
}
header{
    clear: both;
}
input[type='button']{	
	margin-left: 15px;
    background: #d3d3d3;     
    border-radius: 5px;
	box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.75);

}
.top{
    background: #23334b;
    width: 79%;
    padding: 10px 0px;
    color: #fff;
    text-align:center;
    display: inline-block;
    position: relative;
}
.topChanges{
    float: left;
    list-style-type: none; 
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: -15%;
    top: 0;
}
.topChanges li{
    padding: 7px;
    margin-bottom: 5px;
    background: #BD2828;
    color: #fff;
    font-weight: bold;
}
.left{
    background: #d3d3d3;
    width: 25%;
    float: left;
    margin-left: 1%;
}
.right{
    background: #d3d3d3;
    float: left;
    width: 68%;
    margin-left: 1%;
}
.topNav{
    list-style-type: none;
    display: inline-block;
}
.topNav li{
    float:left;
    background: #3b5887;
    padding: 5px 15px;
    border-radius: 3px;
    text-align: center;
    margin-right: 8px;
}
.topNav a{   
    color:#fff;
    text-decoration: none;
    text-transform: capitalize;
}
.events{   
   list-style-type: none;
   padding: 0px;
   color: #5e5959;
}
.events li{
    border-bottom: 1px solid #848181;
    margin-bottom: 1px;
    padding: 5px 0px;
}
.events span.itemDate{
    color: #999;
    font-size: 10px;
}
.events span.itemDel{
	color:#ff3333;
	font-size: 10px;
	float:right;
	padding:0 10px;
	cursor:pointer;
	font-weight:bold;
}
.noTitle{
	color:#999;	
	font-size: 15px;	
	font-weight:bold;
}

/* styles for calenar*/
#calendar{}
.calHeader{
    text-align: center;
    padding: 10px 0px;
    background: #23334b;
    color: #fff;
    font-weight: bold;
    margin: 10px 0px;
	width:79%;
}
.calWeekDays{
    display: inline-block;
    width:10%;
    text-align: center;
    margin-right: 2px;
    padding: 5px;
    background: #587d8f;
     margin-bottom: 5px;
}
.calDays{
    display: inline-block;
    width:10%;
    height: 70px;
    text-align: center;
    font-size: 15px;
    margin-right: 2px;
    padding: 5px;
    background: #96aed3;
    margin-bottom: 2px;
	position:relative;
     
}
.calDays p{
	margin:0;
	padding:0;
	position: absolute;
    background: #BD2828;
    padding: 3px;
    padding-left: 5px;
    width: 80%;
    border-radius: 2px;
    color:#fff;
    overflow: hidden;
    white-space: nowrap;
}
.addEvent{
    background: #587D8F;
    dispay:none;       
}
.add{
    position: absolute;
    bottom: 5px;
    right: 15px;
}
.addEventInput {
    position: absolute;
    top:5px;
    right: -55px;
    border-radius: 10px;
    border: 2px solid #999;
    width: 250px;
    height: 120px;    
    z-index: 1000;
    padding: 5px;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;    
    
    background: -moz-linear-gradient(top, rgba(0,87,127,0.87) 0%, rgba(0,83,112,0.6) 96%, rgba(0,83,112,0.59) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,87,127,0.87)), color-stop(96%,rgba(0,83,112,0.6)), color-stop(100%,rgba(0,83,112,0.59))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,87,127,0.87) 0%,rgba(0,83,112,0.6) 96%,rgba(0,83,112,0.59) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,87,127,0.87) 0%,rgba(0,83,112,0.6) 96%,rgba(0,83,112,0.59) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,87,127,0.87) 0%,rgba(0,83,112,0.6) 96%,rgba(0,83,112,0.59) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,87,127,0.87) 0%,rgba(0,83,112,0.6) 96%,rgba(0,83,112,0.59) 100%); /* W3C */

}
.addEventInput1{
        background: #3B5887;
        margin-top: 20px;
        padding: 15px;
        
}
.addDate, .addEventTitle{
        margin-top: 5px;
        width: 90%;
        padding: 5px;
}
.title{
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    padding:2px  5px;
}
.addEventTitle{
   
}
.saveEvent{
    margin-top: 10px;
    background: #d3d3d3;   
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
}
.closeAddWin{
    text-align: right;
    color: #ff3333;
    cursor: pointer;
    padding: 0px 10px;   
}

.calToday{
    color:#fff;
    background: #3B5887;
}
.emptyDays{
    width:10%;
    height: 70px;
    display:inline-block;
    margin-right: 2px;
    padding: 5px;
}
.calBody{

}

